<!-- <section>
  <div *ngIf = "showMsgArchive" class = "welcome-div">
      <h1>Your Didn't Completed Any Task Yet</h1>
      <div class="cube-box">
        <img src="../../../assets/todo-img-2.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-3.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-4.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-5.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-6.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-7.jpg" height="400px" width="400px">
    </div>
    </div>
    <div *ngIf = "showArchive">
    <div class = "heading-container">
      <h1>Archived Task</h1>
    <div class = "main-container">
    <div *ngFor = "let task of pageSlice" class = "common-div">
           
           <mat-card class = "mediumPrDiv">
                  <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
              <p class = "todo-para"> {{task.todoDesc.substring(0, 30) | titlecase}} ...</p>  
           </mat-card>
    </div>
    </div>
    </div>
    <div class = "pagination-div">
      <mat-paginator [length]="this.completeTask.length"
                    [pageSize]="9"
                    [pageSizeOptions]="[5, 9]"
                    (page) = "onPageChange($event)">
      </mat-paginator>
    </div>
    </div>
</section> -->
<section>
  <div *ngIf = "showMsgArchive" class = "welcome-div">
      <h1>Your Archieve Is Empty</h1>
      <div class="cube-box">
        <img src="../../../assets/todo-img-2.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-3.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-4.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-5.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-6.jpg" height="400px" width="400px">
          <img src="../../../assets/todo-img-7.jpg" height="400px" width="400px">
    </div>
    </div>
    <div *ngIf = "showArchive">
    <div class = "heading-container">
      <h1>Archived Task</h1>
    <div class = "main-container">
    <div *ngFor = "let task of pageSlice" class = "common-div">
           <!-- card will render if todo is in Medium priority -->
           <mat-card class = "mediumPrDiv">
                  <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
              <p class = "todo-para"> {{task.todoDesc.substring(0, 30) | titlecase}} ...</p>  
           </mat-card>
    </div>
    </div>
    </div>
    <div class = "pagination-div">
      <mat-paginator [length]="this.completeTask.length"
                    [pageSize]="9"
                    [pageSizeOptions]="[5, 9]"
                    (page) = "onPageChange($event)">
      </mat-paginator>
    </div>
    </div>
</section>
