/* .myCard{
    width: 440px;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.formField{
    width: 400px;
}
.btn
{
    margin: 10px;
    padding: 10px;
} */






.spacer{
    flex: 1 1 0;
}
.form-card{
     padding: 20px;
}

.form-field{
    width: 300px;
}

.forgot-btn button{
    background: rgb(209, 209, 21);
    color:white;
}

.btn-div{
    display: flex;
}

.verify-otp-btn{
    margin-left: 10px;
}