<!-- 
<div>
  <div class = "background">
    <div class="row">
        <div class = "p-style">
        <h1 class = "heading">Organize your work and life, finally</h1>
        <div class = "backgorund-content">
        <h2 class = "h2">
          Become focused, organized, and calm with Todo App The One of The Best task manager and to-do list app
        </h2>
        <button mat-raised-button color = "primary" (click) = "openDialogSignIn('0ms', '0ms')">Register !!</button>
        </div>
        </div>
      </div>
      </div>

    
     <app-hero-panel></app-hero-panel>
    </div> -->
    <app-banner appResponsive></app-banner>
    <section class = "section">
        <article class="article container row">
            <section class = "col-lg-6 col-md-6 col-sm-12 left-section">
                <div class = "thumbnail">
                <img src="../../../assets/todoiesimg2.webp" alt="note" class = "imgFluid"> 
                </div>
            </section>
            <section class = "col-lg-6 col-md-6 col-sm-12 right-section">
                <h4 class = "heading">Clear your mind</h4>
                <h1 class = "heading-h1">Reach that mental clarity you’ve been longing for.</h1>  
                <p class = "para">
                    Your to-do lists are automatically sorted into Today, Upcoming and 
                    custom Filter views to help you focus on your most important things.
                </p>
            </section>
        </article>
    
        <article class="row second-article container">
            <section class = "col-lg-6 col-md-6 col-sm-12 left-section-1">
                <h4> Get more done</h4>
                <h1 class = "heading-h1"> Add your tasks.
                    Organize your life.
                    Achieve more every day.</h1>
                  <p class = "para">
                    Add tasks like “Read work emails every day at 10am”
                     to fill your to-do list in seconds using Todoist’s 
                    powerful natural language recognition and recurring dates.
                  </p>
            </section>
            <section class = "col-lg-6 col-md-6 col-sm-12 right-section-1">
                <div class = "thumbnail">
                <img src="../../../assets/todoiestimg3.webp" alt="note" class = "imgFluid"> 
              </div>
            </section>
        </article>
    
        <article class = "row conatainer third-article">
            <section class = "col-lg-6 col-md-6 col-sm-12 left-section-2">
               <div class = "thumbnail-1">
                <img src="../../../assets/todoestimg5.webp" alt="image" class = "imgFluid">
               </div>
            </section>
            <section class = "col-lg-6 col-md-6 col-sm-12 right-section-2">
                <div>
                   <h1 class = "headding-1">Achieve peace of mind with Todo App</h1>
                   <button mat-raised-button (click) = "openDialogSignIn('0ms', '0ms')">Register</button>
                </div>
            </section>
        </article>
    </section>
  


   
  
