<!-- Home Page Setup banner-section  -->
<section class = "banner-section">
    <div class = "background banner-container">
      <div class="row banner-content">
        <div class = "col-sm-12 col-md-12 col-lg-12 content">
          <div class = "p-style">
          <h1 class = "heading">Organize your work and life, finally</h1>
          <div class = "backgorund-content">
          <h2 class = "h2">
            Become focused, organized, and calm with Todo App The One of The Best task manager and to-do list app
          </h2>
          <button mat-raised-button color = "primary" (click) = "openDialogSignIn('0ms', '0ms')">Register !!</button>
          </div>
          </div>
        </div>
       </div>
        </div>
      </section>
