<!-- 
    <div>
        <mat-toolbar color = "primary">
            <mat-toolbar-row fxLayout = "row">
               <span>Update Password</span>
               <span class = "spacer"></span>
               <button class = "mat-dialog-close" mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
               </button>
            </mat-toolbar-row>
            </mat-toolbar>
        <mat-card class = "form-card">
            <form [formGroup] = "updatePasswordForm" (ngSubmit) = "onSubmit()">
                <mat-form-field class = "form-field" appearance = "outline">
                    <input type="email" placeholder="Please Provide Your Email" matInput formControlName = "email"> 
                    <mat-error *ngIf = "email?.errors?.['required']">
                        Please Provide Valid Email Id
                        </mat-error> 
                </mat-form-field>
                <mat-form-field class = "form-field" appearance = "outline">
                    <input type="password" placeholder="Enter Your New Password" matInput formControlName = "password"> 
                </mat-form-field>
                <div>
                    <mat-error *ngIf = "password?.errors?.['pattern']">
                        Password Should Have min 5 letter password, with atlease a symbol a upper and lower case letters and a number 
                    </mat-error>
                    </div>
                <mat-form-field class = "form-field" appearance = "outline">
                    <input type="password" placeholder="Confirm Your Password" matInput formControlName = "confirmPassword">
                </mat-form-field>
                <div>
                    <mat-error *ngIf = "updatePasswordForm?.errors?.['mustMatch']===true">
                        password and confirm password should match
                    </mat-error>
                    </div>
                <button type = "submit" mat-raised-button color = "primary" [disabled] = "!updatePasswordForm.valid">Update Password</button>
                <button class = "reset-btn" type = "reset" mat-raised-button color = "accent">Reset</button>
            </form>
        </mat-card>
    </div>

         -->
         <div>
            <mat-toolbar color = "primary">
                <mat-toolbar-row fxLayout = "row">
                   <span>Enter Email</span>
                   <span class = "spacer"></span>
                   <button class = "mat-dialog-close" mat-icon-button mat-dialog-close>
                    <mat-icon>close</mat-icon>
                   </button>
                </mat-toolbar-row>
                </mat-toolbar>
                <form [formGroup]="otpVerify" >
            <mat-card class = "form-card">
                    <mat-form-field class = "form-field" appearance = "outline" *ngIf="openEmail">
                        <input type="email" matInput placeholder="Enter Email" formControlName="email" >
                            <button class = "forgot-btn" mat-raised-button color="primary" [disabled]="!email?.valid"(click) = "generateOtp()" matSuffix>Send Otp</button>
                    </mat-form-field  >
                    <div *ngIf="openOtp" >
                    <mat-form-field appearance = "outline" >
                        <input type="text" matInput placeholder="Provide OTP" (input) = "enterOtp(otp.value)" [disabled] = "!otp1" #otp>
                      
                  
                </mat-form-field>
                <button  class = "verify-otp-btn" [disabled] = "!otp2" mat-raised-button color = "accent" (click)="verify()">Verify</button>
            </div>
        
                     <div *ngIf="openUpdate"> 
                <mat-form-field class = "form-field" id="form" appearance = "outline">
                    <input type="password" placeholder="Enter Your New Password" matInput formControlName = "password"> 
                </mat-form-field>
                <div>
                    <mat-error *ngIf = "password?.errors?.['pattern']">
                        Password Should Have min 5 letter password, with atlease a symbol a upper and lower case letters and a number 
                    </mat-error>
                    </div>
                    <br>
                   
                <mat-form-field class = "form-field" appearance = "outline">
                    <input type="password" placeholder="Confirm Your Password" matInput formControlName = "confirmPassword">
                </mat-form-field>
           
                <div>
                    <mat-error *ngIf = "otpVerify?.errors?.['mustMatch']===true">
                        password and confirm password should match
                    </mat-error>
                    </div>
        
        <div>
            <button type = "submit" mat-raised-button color = "primary" [disabled] = "!otpVerify.valid" (click)="update()">Update Password</button>
            <button class = "reset-btn" type = "reset" mat-raised-button color = "accent">Reset</button>
        </div>
        
        </div>            
            </mat-card>
        </form>
        </div>
