<!-- main container -->
<div class = "container">
    <!-- showing add todo form inside card -->
   <mat-card class = "add-todo-card">
     <h1>Add Todo</h1>
    
     <!-- defining form to add todos -->
   <form [formGroup] = "todoAddForm" (ngSubmit) = "addTodoTask()">
         
     <!-- field for adding title of todos -->
      <mat-form-field class = "form-field form-input-field" appearance="outline">
           <input type="text" matInput placeholder="Task Name" [(ngModel)] = "individualTodo.todoTitle" formControlName = "todoTitle">
       </mat-form-field>
       <!-- field for adding description of todos -->
       <mat-form-field   class = "form-field form-input-field" appearance="outline">
           <input type="text" matInput placeholder="Description" [(ngModel)] = "individualTodo.todoDesc" formControlName = "todoDesc">
       </mat-form-field>
      
       <!-- defining mat-chip to show priority category and due date -->
       <div class = "mat-chip-div">
       <mat-chip-listbox aria-label="Fish selection">
         <mat-chip-option (click) = "setPriortyOption()">Priority</mat-chip-option>
         <mat-chip-option (click) = "openCatForm()">Categories Your Task</mat-chip-option>
         <mat-chip-option (click) = "openReminderDateOption()">Set Due Date</mat-chip-option>
       </mat-chip-listbox>
      </div>
       
      <!-- div to show priority input -->
       <div *ngIf = "openPriorityInput">
       <mat-form-field appearance="outline" class = "form-input-field form-field">
         <mat-label>Priority</mat-label>
         <mat-select name="priority" formControlName = "priorities" [(ngModel)]="individualTodo.priorities">
           <mat-option *ngFor = "let priority of priorities" value="{{priority}}">
             {{priority}}
           </mat-option>
         </mat-select>
     </mat-form-field>
      </div>

      <!-- div to show add category form -->
      <div class = "form-field category-div" *ngIf = "showCatForm">

       <!-- form to add category -->
       <form [formGroup] = "categoryForm" (ngSubmit) = "addCategory()" class = "add-category-form">

         <!-- field to adding category name -->
       <mat-form-field appearance="outline">
         <input type="text" matInput placeholder="Create New" formControlName = "categoryName">
       </mat-form-field>
       </form>

       <!-- field to select category which is already available -->
       <mat-form-field appearance="outline" class = "add-category-form">
         <mat-label>Existing One</mat-label>
         <mat-select name="categoryName" formControlName = "categoryName">
           <mat-option *ngFor = "let cat of availableCategory" value="{{cat}}">
           {{cat | titlecase}}
           </mat-option>
         </mat-select>
       </mat-form-field>
     </div>
       <!-- div to show reminder date option -->
       <div *ngIf = "showReminderDate">
       <div class = "icon-div">
       <a (click) = "openDueDateOption()"><mat-icon class = "icon">event</mat-icon>Due Date</a>
       <!-- <a><mat-icon class = "icon" (click) = "openReminderDateOption()">add_alert</mat-icon>Reminder Date</a> -->
         
         <!-- setting functionality for due date and time -->
         <div *ngIf = "showDateOption" class = "dueDateOption-div">
           <div>
           <input type="datetime-local" matInput [(ngModel)]="individualTodo.dueDate" formControlName = "dueDate" format="dd-MM-yyyy hh:mm a">
           </div>
           </div>
       </div>
     </div>
        <!-- buttons for reset and submit add todo form -->
       <button mat-button class = "reset-btn-todo-add add-btn" type = "reset">Reset</button>
       <button mat-button class = "add-btn-todo-add add-btn" type="submit" [disabled] = "!todoAddForm.valid">Update Task</button>
   </form>
</mat-card>
</div>
