<!-- 
 <div>
 <div class="row">
        <div class="col-md-2 dash-div">
            <app-sidebar appResponsive></app-sidebar>
        </div>
        <div class="col-md-10 dash-div-1">
            <router-outlet></router-outlet>
        </div>
</div>

</div> -->
<section>
    <div class = "dashboard-div">
       <div class="row">
              <div class="col-md-2 col-sm-3 col-lg-2 dash-div">
                 <app-sidebar appResponsive></app-sidebar>                
              </div>
              <div class="col-md-10 col-sm-9 col-lg-10 dash-div-1">
                  <router-outlet></router-outlet> 
              </div>
      </div>
      </div> 
</section>
 